<div class="navbar">
  <div class="container">
    <ul>
      <li>
        <a href="#/user">WHY</a>
      </li>
      <li>
        <a href="#/info">ABOUT ME</a>
      </li>
      <li>
        <a href="#/info">SOFTWARE DEVELOPMENT</a>
      </li>
      <li>
        <a href="#/info">ACTIVISM</a>
      </li>
      <li>
        <a href="#/info">ENTREPRENEURSHIP</a>
      </li>
      <li>
        <a href="#/info">RESUME</a>
      </li>
      <li>
        <a href="#/info">CONTACT ME</a>
      </li>
    </ul>
  </div>
</div>