<div class="navbar">
  <div class="container">
    <ul>
      <li>
        <a href="#/user">Why</a>
      </li>
      <li>
        <a href="#/about-me">About Me</a>
      </li>
      <li>
        <a href="#/software-development">Software Development</a>
      </li>
      <li>
        <a href="#/activism">Activism</a>
      </li>
      <li>
        <a href="#/work">Work</a>
      </li>
      <li>
        <a href="#/resume">Résumé</a>
      </li>
      <li>
        <a href="#/lets-connect">Let's Connect</a>
      </li>
    </ul>
  </div>
</div>