<div class="lets-connect-parallax">
    <div ng-include="'views/partials/nav.html'"></div>

<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
</form>
    <!-- <div class="container">
        <p>
            The column parameters specify the names of the columns of the table. The datatype parameter specifies the type of data the
            column can hold (e.g. varchar, integer, date, etc.). Tip: For an overview of the available data types, go to
            our complete Data Types Reference.
        </p>


    </div>
    <p>
        The column parameters specify the names of the columns of the table. The datatype parameter specifies the type of data the
        column can hold (e.g. varchar, integer, date, etc.). Tip: For an overview of the available data types, go to our
        complete Data Types Reference.
    </p> -->
</div>