<div class="resume-parallax">
    <div ng-include="'views/partials/nav.html'"></div>


    <!-- <div class="container">
        <p>
            The column parameters specify the names of the columns of the table. The datatype parameter specifies the type of data the
            column can hold (e.g. varchar, integer, date, etc.). Tip: For an overview of the available data types, go to
            our complete Data Types Reference.
        </p>


    </div>
    <p>
        The column parameters specify the names of the columns of the table. The datatype parameter specifies the type of data the
        column can hold (e.g. varchar, integer, date, etc.). Tip: For an overview of the available data types, go to our
        complete Data Types Reference.
    </p> -->
</div>